.buscar {
    margin-top: 5em;
    background-color: rgba(209, 207, 207, 0.486);
    border-radius: 3.5em;
    width: 32em;
    height: 32em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titu{
    width: 100%;
}
.busc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 5em;
    height: 10em;
}

.busc input {
    border-radius: 0.5em;
    width: 50%;
    height: 1em;
    padding: 0.4em;
}

.nd p {
    font-weight: bold;
}