.topo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #171abb;
  padding: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.topo img {
  cursor: pointer;
  max-width: 150px;
  height: auto;
}
